h1 {
    width: 100%;
    text-align: center;
    font-size: 125px;
    font-family: "Sans Serif", Roboto, monospace;
}

.container {
    // width: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.controls {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.btn {
    width: 30%;
    margin: 1%;
}

.btn-success {
    background-color: #2dd34f;
    font-size: 16px;
}

.btn-danger {
    background-color: #f97068;
    font-size: 16px;
}

.btn-secondary {
    font-size: 16px;
}