<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismissPomodoroModal()">
                <ion-icon name="arrow-down"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="about-header">
        <img src="../../../assets/img/otros/pomodoro.png" />
    </div>

    <div class="about-info">

        <h3 class="ion-padding-top ion-padding-start">¿Qué es la técnica Pomodoro?</h3>

        <p class="ion-padding-start ion-padding-end">
            La Técnica Pomodoro es un método para mejorar la administración del tiempo dedicado a una actividad. Se basa en usar un temporizador para dividir el tiempo en intervalos, llamados Pomodoros, de 25 minutos de actividad, seguidos de 5 minutos de descanso,
            con pausas más largas cada cuatro Pomodoros.
        </p>

        <h3 class="ion-padding-top ion-padding-start">Mecánica básica</h3>

        <p class="ion-padding-start ion-padding-end">
            1. Decidir la tarea o actividad a realizar.
        </p>

        <p class="ion-padding-start ion-padding-end">
            2. Poner el temporizador (25 minutos).
        </p>

        <p class="ion-padding-start ion-padding-end">
            3. Trabajar en la tarea o actividad hasta que el temporizador suene.
        </p>

        <p class="ion-padding-start ion-padding-end">
            4. Cuando el temporizador termine, terminar la tarea o actividad y tacharla en un hoja de papel.
        </p>

        <p class="ion-padding-start ion-padding-end">
            5. Si tenés menos de cuatro objetivos tachados, tomá un descanso corto (5 minutos) y volvé al paso dos. Sinó, continuá con el paso seis.
        </p>

        <p class="ion-padding-start ion-padding-end">
            6. Luego de conseguir cuatro Pomodoros, tomá un descanso largo (15 minutos), reinicia tu contador de Pomodoros y volvé al paso uno.
        </p>

    </div>

</ion-content>